@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-color: #F2F9FE;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #223344;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.header{
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 92px;
}

.icon{
  width: 100%;
  max-width: 460px;
}

.icon img{
  width: 100%;
  max-width: 150px;
}

.nav{
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #909193;
}

/* Menu button */
.menu-btn {
  font-size: 14px;
  cursor: pointer;
  color: #111;
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
}

/* Hide menu button by default */
.menu-btn {
  display: none;
}

.nav_btn{
  display: flex;
  flex-direction: row;
}

.closebtn{
  display: none;
}

#nav_btn_1{
  color: #111729;
}

#nav_btn_2, #nav_btn_3, #nav_btn_4{
    font-weight: 500;
    padding-left: 40px;
}

.contain{
  display: block;
}

.switch {
  font-size: 16px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #183153;
  transition: .4s;
  border-radius: 30px;
}

.sun {
  background-color: #FFFFFF;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%224%22%20fill%3D%22%23223344%22%2F%3E%3Cpath%20d%3D%22M12%205V3%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M12%2021V19%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M16.9498%207.04996L18.364%205.63574%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.63608%2018.3644L7.05029%2016.9502%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M19%2012L21%2012%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3%2012L5%2012%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M16.9498%2016.95L18.364%2018.3643%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.63608%205.63559L7.05029%207.0498%22%20stroke%3D%22%23223344%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 35px;
  border-radius: 50%;
  z-index: 1;
  width: 26px;
  height: 26px;
}

.moon  {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15%204C15.292%204%2015.438%204%2015.5781%204.04183C16.192%204.22522%2016.4775%204.93111%2016.1637%205.48976C16.0921%205.61719%2015.8744%205.82779%2015.4389%206.249C13.935%207.70352%2013%209.74257%2013%2012C13%2014.2574%2013.935%2016.2965%2015.4389%2017.751C15.8744%2018.1722%2016.0921%2018.3828%2016.1637%2018.5102C16.4775%2019.0689%2016.192%2019.7748%2015.5781%2019.9582C15.438%2020%2015.292%2020%2015%2020V20C10.5817%2020%207%2016.4183%207%2012C7%207.58172%2010.5817%204%2015%204V4Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3C%2Fsvg%3E');
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 5px;
  z-index: 1;
  width: 26px;
  height: 26px;
}


.Main{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    height: fit-content;
  }

.container_1{
    width: 100%;
    max-width: 640px;
    height: fit-content;
    padding-bottom: 40px;
}

.container_1 h3{
  color: #111729;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.container_1 h1{
  font-size: 60px;
  color: #111729;
  margin-bottom: 32px;
}

.container_1 p{
  font-size: 18px;
  font-weight: 500;
  color: #909193;
  margin-bottom: 22px;
}

.container_1 .a button{
  padding: 16px 32px 16px 32px;
  border: 0;
  border-radius: 12px;
  background-color: #2A4DD0;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.container_1 .a span {
  margin-left: 32px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #2A4DD0;
  border-bottom-width: 3px;
  border-bottom-style: inset;
  border-bottom-color: #2A4DD0;
  padding-bottom: 0.2px;
}

.container_2{
    width: 100%;
    max-width: 640px;
    height: fit-content;
}

#content_img{
    width: 100%;
    max-width: 560px;
    height: fit-content;
}

.footer{
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
}

.footer div{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.footer div p{
  font-size: 14px;
  font-weight: 500;
  color: #909193;
  margin: 0px 32px 0px 8px;
}

@media screen and (min-width: 1134px) and (max-width: 1360px){
  body{
    margin-left: 75px;
    margin-right: 75px;
  }

  .header, .Main, .footer{
    width: 100%;
    max-width: 1130px;
  }

  .icon{
    width: 100%;
    max-width: 408px;
  }

  .nav{
    width: 100%;
    max-width: 722px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1159px){

  body{
    margin-left: 45px;
    margin-right: 45px;
  }

  .header, .Main{
    width: 100%;
    max-width: 820px;
  }

  .icon{
    width: 100%;
    width: 256px;
  }


  .nav{
    width: 100%;
    width: 564px;
  }


  .Main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
  .container_2{
      order: 1;
    }

  .container_1{
     max-width: 767px;
      order: 2;
    }

  .footer{
    max-width: 767px;
  }

}

body.dark {background-color: #111729;} /* #9b59b6 */

body.dark .icon img {
  content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22141%22%20height%3D%2224%22%20viewBox%3D%220%200%20141%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.77%201.42178C19.551%200.640733%2020.8174%200.640733%2021.5984%201.42178L30.7623%2010.5857C31.5434%2011.3667%2031.5434%2012.6331%2030.7623%2013.4141L21.5984%2022.578C20.8174%2023.3591%2019.551%2023.3591%2018.77%2022.578L9.60609%2013.4141C8.82504%2012.6331%208.82504%2011.3667%209.60609%2010.5857L18.77%201.42178Z%22%20fill%3D%22%234CA154%22%2F%3E%3Cpath%20d%3D%22M10.5781%201.42196C11.3591%200.640916%2012.6255%200.640916%2013.4065%201.42197L22.5704%2010.5859C23.3515%2011.3669%2023.3515%2012.6332%2022.5704%2013.4143L13.4065%2022.5782C12.6255%2023.3592%2011.3591%2023.3592%2010.5781%2022.5782L1.4142%2013.4143C0.633147%2012.6332%200.633147%2011.3669%201.4142%2010.5859L10.5781%201.42196Z%22%20fill%3D%22%232A4DD0%22%2F%3E%3Cpath%20d%3D%22M55.7686%2017.808H49.4806L48.4726%2020.784H44.1766L50.2726%203.93599H55.0246L61.1206%2020.784H56.7766L55.7686%2017.808ZM54.7126%2014.64L52.6246%208.47199L50.5606%2014.64H54.7126Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M66.8399%203.02399V20.784H62.7359V3.02399H66.8399Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M68.7581%2014.064C68.7581%2012.688%2069.0141%2011.48%2069.5261%2010.44C70.0541%209.39999%2070.7661%208.59999%2071.6621%208.03999C72.5581%207.47999%2073.5581%207.19999%2074.6621%207.19999C75.6061%207.19999%2076.4301%207.39199%2077.1341%207.77599C77.8541%208.15999%2078.4061%208.66399%2078.7901%209.28799V7.39199H82.8941V20.784H78.7901V18.888C78.3901%2019.512%2077.8301%2020.016%2077.1101%2020.4C76.4061%2020.784%2075.5821%2020.976%2074.6381%2020.976C73.5501%2020.976%2072.5581%2020.696%2071.6621%2020.136C70.7661%2019.56%2070.0541%2018.752%2069.5261%2017.712C69.0141%2016.656%2068.7581%2015.44%2068.7581%2014.064ZM78.7901%2014.088C78.7901%2013.064%2078.5021%2012.256%2077.9261%2011.664C77.3661%2011.072%2076.6781%2010.776%2075.8621%2010.776C75.0461%2010.776%2074.3501%2011.072%2073.7741%2011.664C73.2141%2012.24%2072.9341%2013.04%2072.9341%2014.064C72.9341%2015.088%2073.2141%2015.904%2073.7741%2016.512C74.3501%2017.104%2075.0461%2017.4%2075.8621%2017.4C76.6781%2017.4%2077.3661%2017.104%2077.9261%2016.512C78.5021%2015.92%2078.7901%2015.112%2078.7901%2014.088Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M89.7271%209.62399C90.2071%208.88799%2090.8071%208.31199%2091.5271%207.89599C92.2471%207.46399%2093.0471%207.24799%2093.9271%207.24799V11.592H92.7991C91.7751%2011.592%2091.0071%2011.816%2090.4951%2012.264C89.9831%2012.696%2089.7271%2013.464%2089.7271%2014.568V20.784H85.6231V7.39199H89.7271V9.62399Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M94.8328%2014.064C94.8328%2012.688%2095.0888%2011.48%2095.6008%2010.44C96.1288%209.39999%2096.8408%208.59999%2097.7368%208.03999C98.6328%207.47999%2099.6328%207.19999%20100.737%207.19999C101.681%207.19999%20102.505%207.39199%20103.209%207.77599C103.929%208.15999%20104.481%208.66399%20104.865%209.28799V7.39199H108.969V20.784H104.865V18.888C104.465%2019.512%20103.905%2020.016%20103.185%2020.4C102.481%2020.784%20101.657%2020.976%20100.713%2020.976C99.6248%2020.976%2098.6328%2020.696%2097.7368%2020.136C96.8408%2019.56%2096.1288%2018.752%2095.6008%2017.712C95.0888%2016.656%2094.8328%2015.44%2094.8328%2014.064ZM104.865%2014.088C104.865%2013.064%20104.577%2012.256%20104.001%2011.664C103.441%2011.072%20102.753%2010.776%20101.937%2010.776C101.121%2010.776%20100.425%2011.072%2099.8488%2011.664C99.2888%2012.24%2099.0088%2013.04%2099.0088%2014.064C99.0088%2015.088%2099.2888%2015.904%2099.8488%2016.512C100.425%2017.104%20101.121%2017.4%20101.937%2017.4C102.753%2017.4%20103.441%2017.104%20104.001%2016.512C104.577%2015.92%20104.865%2015.112%20104.865%2014.088Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M110.882%2014.064C110.882%2012.688%20111.138%2011.48%20111.65%2010.44C112.178%209.39999%20112.89%208.59999%20113.786%208.03999C114.682%207.47999%20115.682%207.19999%20116.786%207.19999C117.666%207.19999%20118.466%207.38399%20119.186%207.75199C119.922%208.11999%20120.498%208.61599%20120.914%209.23999V3.02399H125.018V20.784H120.914V18.864C120.53%2019.504%20119.978%2020.016%20119.258%2020.4C118.554%2020.784%20117.73%2020.976%20116.786%2020.976C115.682%2020.976%20114.682%2020.696%20113.786%2020.136C112.89%2019.56%20112.178%2018.752%20111.65%2017.712C111.138%2016.656%20110.882%2015.44%20110.882%2014.064ZM120.914%2014.088C120.914%2013.064%20120.626%2012.256%20120.05%2011.664C119.49%2011.072%20118.802%2010.776%20117.986%2010.776C117.17%2010.776%20116.474%2011.072%20115.898%2011.664C115.338%2012.24%20115.058%2013.04%20115.058%2014.064C115.058%2015.088%20115.338%2015.904%20115.898%2016.512C116.474%2017.104%20117.17%2017.4%20117.986%2017.4C118.802%2017.4%20119.49%2017.104%20120.05%2016.512C120.626%2015.92%20120.914%2015.112%20120.914%2014.088Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3Cpath%20d%3D%22M133.843%2020.976C132.531%2020.976%20131.347%2020.696%20130.291%2020.136C129.251%2019.576%20128.427%2018.776%20127.819%2017.736C127.227%2016.696%20126.931%2015.48%20126.931%2014.088C126.931%2012.712%20127.235%2011.504%20127.843%2010.464C128.451%209.40799%20129.283%208.59999%20130.339%208.03999C131.395%207.47999%20132.579%207.19999%20133.891%207.19999C135.203%207.19999%20136.387%207.47999%20137.443%208.03999C138.499%208.59999%20139.331%209.40799%20139.939%2010.464C140.547%2011.504%20140.851%2012.712%20140.851%2014.088C140.851%2015.464%20140.539%2016.68%20139.915%2017.736C139.307%2018.776%20138.467%2019.576%20137.395%2020.136C136.339%2020.696%20135.155%2020.976%20133.843%2020.976ZM133.843%2017.424C134.627%2017.424%20135.291%2017.136%20135.835%2016.56C136.395%2015.984%20136.675%2015.16%20136.675%2014.088C136.675%2013.016%20136.403%2012.192%20135.859%2011.616C135.331%2011.04%20134.675%2010.752%20133.891%2010.752C133.091%2010.752%20132.427%2011.04%20131.899%2011.616C131.371%2012.176%20131.107%2013%20131.107%2014.088C131.107%2015.16%20131.363%2015.984%20131.875%2016.56C132.403%2017.136%20133.059%2017.424%20133.843%2017.424Z%22%20fill%3D%22%23F2F9FE%22%2F%3E%3C%2Fsvg%3E');
}

body.dark .sun {
  background-color: #183153;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%224%22%20fill%3D%22%23FFFFFF%22%2F%3E%3Cpath%20d%3D%22M12%205V3%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M12%2021V19%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M16.9498%207.04996L18.364%205.63574%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.63608%2018.3644L7.05029%2016.9502%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M19%2012L21%2012%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M3%2012L5%2012%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M16.9498%2016.95L18.364%2018.3643%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.63608%205.63559L7.05029%207.0498%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
  background-size: cover;
}

body.dark .moon  {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M15%204C15.292%204%2015.438%204%2015.5781%204.04183C16.192%204.22522%2016.4775%204.93111%2016.1637%205.48976C16.0921%205.61719%2015.8744%205.82779%2015.4389%206.249C13.935%207.70352%2013%209.74257%2013%2012C13%2014.2574%2013.935%2016.2965%2015.4389%2017.751C15.8744%2018.1722%2016.0921%2018.3828%2016.1637%2018.5102C16.4775%2019.0689%2016.192%2019.7748%2015.5781%2019.9582C15.438%2020%2015.292%2020%2015%2020V20C10.5817%2020%207%2016.4183%207%2012C7%207.58172%2010.5817%204%2015%204V4Z%22%20fill%3D%22%23223344%22%2F%3E%3C%2Fsvg%3E");
  background-color: #FFFFFF;
  border-radius: 50%;
}

body.dark h1, body.dark h3, body.dark #nav_btn_1 {color: #fff;}